.wrapper {
    min-height: 85%; 
    width: 70%;
    margin: 0px auto;
}

.footer {
    text-align: center;
    width: 70%;
    margin: 0px auto;
    margin-top: 10px;
}

.main-menu ul {
    padding:  0px;
}

.main-menu li {
    display:         inline-block;
    list-style-type: none;
    padding: 10px 20px;
    border: 1px solid black;
}

.main-menu .active {
    background-color: yellow;
}

.main-menu a > li {
    margin-right: 5px;
}

.main-menu a > li:hover {
    background-color: yellow;
}

table.all-books {
    border: 1px solid black;
    border-collapse: collapse;
}

.all-books th, .all-books td {
    border: 1px solid black; 
    padding: 10px 20px;
}

td.text-center {
    text-align: center;
}

form.form__book-shop {
    display: inline-block;
    margin: 0px;
}

.books-amount {
    width: 50px;
}

form.new-book {
    width: 500px;
}

.new-book__row {
    padding: 10px 20px;
}

.new-book__row label {
    width: 120px;
    display: inline-block;
}

.new-book__row input {
    height: 35px;
    width: 300px;
}

.new-book__row__button {
    text-align: right;
}

.new-book__row button {
    width:  40%;
    height: 35px;
    margin-right: 40px;
}

.error-message {
    text-align: center;
    color: red;
    font-weight: bold;
    padding: 30px;
    display: none;
}
